// Colors
$clr7: #129ada;
$clr6: #0fcf3f;
$clr5: #4f3a65;
$clr4: #574f7d;
$clr3: #95adbe;
$clr2: #dff0ea;
$clr1: #fff;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;