.favorite-list {
    margin: 10px 0;
    border-radius: 28px;
    border: 1px solid white;
    padding: 15px;

    h1 {
        margin-top: 10px;
    }
    i {
        cursor: pointer;
    }
    .favorite-preview {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        display: grid;
        gap: 10px;
    }
}

.favorite-container {
    h1 {
        margin:50px;
    }
}