.navbar-container {
    background-color: #1d1d1d17;
    display: flex;
    max-height: 60px;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: caveat;
    font-size: 1.8rem;
    padding: 5px 0;

    .logo {
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            width: 40px;
            margin-left: 5px;
        }
    }
    .nav-list li {
        margin-right: 20px;
        cursor: pointer;
        color: black;
        animation:all 0.3s;
        &:hover {
            font-weight: 700;
        }
    }
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.123);
}
